@import "../common/styles/color.scss";
#layout {
  height: 100%;
  .left {
    .logo {
      color: $color-white;
      margin: auto 0;
      line-height: 64px;
      width: 100%;
      text-align: center;
      font-size: 25px;
    }
  }
  .right {
    overflow: hidden;
    .header {
      background: $color-white;
      padding: 0;
      .admin {
        float: right;
      }
      .ant-breadcrumb {
        display: inline-block;
        margin-left: 30px;
      }
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        border-right: 1px solid $color-border-base;
      }
      .trigger:hover {
        color: #1890ff;
      }
    }
    .content {
      flex: 100%;
      background: $color-border-light;
    }
  }
}
