#layout {
  height: 100%;
  .left {
    .logo {
      color: white;
      margin: auto 0;
      line-height: 64px;
      width: 100%;
      text-align: center;
      font-size: 25px;
    }
  }
  .right {
    overflow: hidden;
    .header {
      background: white;
      padding: 0;
      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
      }
      .trigger:hover {
        color: #1890ff;
      }
    }
    .content {
      margin: 24px 16px;
      padding: 24px;
      background: white;
      min-height: 280px;
    }
  }
}
