// scheme
$color-blue:#20A0FF;
$color-blue-light:#58B7FF;
$color-blue-light-extra:#B3D8FF;
$color-blue-dark:#1D8CE0;
$color-pink: #FF0097;
$color-cyan: #4EB3B9;
$color-black:#1F2D3D;
$color-black-light:#324057;
$color-black-light-extra:#475669;
$color-silver:#8492A6;
$color-silver-light:#99A9BF;
$color-silver-light-extra:#C0CCDA;
$color-gray:#D3DCE6;
$color-gray-light:#E5E9F2;
$color-gray-light-extra:#EFF2F7;
$color-white:#FFFFFF;
$color-white-dark:#F9FAFC;
$color-red: #DD4B39;
$color-red-light: rgb(248, 122, 117);
// infomation
$color-primary: #409EFF;
$color-success:#67C23A;
$color-warning:#EB9E05;
$color-danger:#FA5555;
$color-info:#878D99;
// font
$color-font-primary: #2D2F33;
$color-font-regular: #5A5E66;
$color-font-secondary: #878D99;
$color-font-placeholder: #B4BCCC;
// border
$color-border-base: #D8DCE5;
$color-border-light: #DFE4ED;
$color-border-lighter: #E6EBF5;
$color-border-light-extra: #EDF2FC;
