#vehicle {
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-from {
    height: 150px;
  }
  .search-result {
    height: 100%;
    overflow-x: auto;
    .ant-card-body {
      height: 1000px;
      width: 100%;
      padding: 0;
    }
  }
}
