#login {
  height: 100%;
  background: url("../assets/login/background.jpg");
  .card {
    background: url("../assets/login/form.png");
    width: 524px;
    height: 262px;
    .logo {
      color: white;
      font-size: 33px;
      font-weight: bold;
      margin: 23px 0 12px 55px;
    }
    .form {
      margin: 26px 160px 0 50px;
      .ant-form-item {
        margin-bottom: 25px;
      }
      .button {
        position: absolute;
        background: rgba($color: #fff, $alpha: 0);
        border: transparent;
        height: 240px;
        width: 90px;
        position: relative;
        top: -219px;
        left: 372px;
        border-radius: 0 21px 21px 0;
        &:hover {
          background: rgba($color: #000, $alpha: 0.1);
        }
        &:active {
          background: rgba($color: #000, $alpha: 0.3);
        }
      }
    }
  }
}
